@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #EEE;
    overflow-x: hidden;
    text-align: center;
}
h1 {
    color: #EEE;
    font-size: 13vh;
    margin-top: 0;
    padding-top: 5vh;
    margin-bottom: 4vh;
}

p {
    text-align: left;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 65vh;
}
.header {
    background-image: url("team.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.content {
    background-color: #EEE;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 60px;
    margin-bottom: 20px;
}

.discription {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 10vw;
    line-height: 50px;
}

h2 {
    font-size: 48px;
}

td {
    outline-style: solid;
    outline-color: black;
    padding: 10px;
    font-size: 18px;
}
tr:hover {
    background-color: #DDF;
    cursor: pointer;
    margin-left: 2vh;
}
.sponsors img {
    width: 50vw;
    padding-bottom: 10px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sponsors {
    background-color: #FFF!important;
}
.sponsors h2 {
    padding-top: 50px;
}
